#cabecera-titulo{
    color: #F47521 ;
}

#cabecera{
    color:white
}

#cabecera:hover{
    color: #F47521 ;
}

#footer-bg-img{
    background-color: transparent
}

#div-transparencia{
    background-color: transparent
}

#tamaño-fuente-footer-logo{
    font-size: 0.6rem;
}

#marco-formulario-pago{
    border: 3px solid black; /* Borde negro más grueso */
    border-radius: 5px;
}
