.banner {
    background-color: #eee;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    padding: 2em;
    background-color: #f9f9f9;
}

.category-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-item {
    text-align: center;
    margin: 1em 14em;
}

.category-item img {
    width: 120px;
    height: auto;
}

.featured-products {
    padding: 2em;
    background-color: #fff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    flex: 0 0 23%; /* Ajusta esto si necesitas más espacio entre los elementos */
    margin: 1em;
    text-align: center;
   
    border: 1px solid #ddd;
    padding: 1em;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
}